.links {
    margin: 10px 0;
    padding: 10px 15px;
    border: solid 1px #eee;
    border-radius: 4px;

    h4 {
        margin: 10px 0;
        padding-bottom: 10px;
        font-size: 14px;
        border-bottom: solid 1px #eee;
    }
    a {
        display: inline-block;
        margin: 0 10px 10px 0;
        font-size: 13px;
    }
}

