<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if ptitle %}
    <title>{{ ptitle }} - 前端日志网</title>
    {% else %}
    <title>前端日志网 - 专注前端开发和Node.js开发，分享前端开发技术和Node.js开发技术</title>
    {% endif %}
    <meta name="description" content="前端日志网专注于前端开发和Node.js开发，是一个致力于分享JavaScript开发技术、CSS开发技术等前端开发技术和Node.js开发技术的网站。">
    <meta name="keywords" content="前端开发,JavaScript,CSS,Node.js,rust">
    <link rel="icon" sizes="32x32" type="image/png" href="/favicon.png">
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/highlight.js/9.4.0/styles/solarized_light.min.css" rel="stylesheet">
    <link href="/css/dest/app.css" rel="stylesheet">
    {% block css %}
    {% endblock %}
    <!--[if lt IE 9]>
        <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    {% include './header.html' %}
    <div class="container">
    {% block body %}
    {% endblock %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-md-3">
                {% block side %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% block footer %}
    {% include './footer.html' %}
    {% endblock %}
    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//cdn.bootcss.com/highlight.js/9.4.0/highlight.min.js"></script>
    <script src="/js/dest/app.js"></script>
    {% block js %}
    {% endblock %}
</body>
</html>

