<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if ptitle %}
    <title>{{ ptitle }} - 前端日志网</title>
    {% else %}
    <title>前端日志网 - 一个前端开发者的个人博客</title>
    {% endif %}
    <meta name="description" content="前端日志网是一个前端开发者的个人博客网站，致力于分享前端开发技术和Node.js技术。">
    <meta name="keywords" content="前端开发,JavaScript,CSS,Node.js,rust">
    <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/dest/app.css" rel="stylesheet">
    {% block css %}
    {% endblock %}
    <!--[if lt IE 9]>
        <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    {% include './header.html' %}

    <div class="container-fluid">
    {% block fluid %}
    {% endblock %}
    </div>

    <div class="container">
    {% block body %}
    {% endblock %}
    </div>

    {% block js %}
    {% endblock %}

    <br>
    {% include './footer.html' %}
    <br>
</body>
</html>
