<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#w3clog-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">前端日志网</a>
        </div>
        <div class="collapse navbar-collapse" id="w3clog-navbar-collapse">
            <ul class="nav navbar-nav">
                <li {% if not currentCate %}class="active"{% endif %}><a href="/">首页</a></li>
                <li {% if currentCate == 'frontend' %}class="active"{% endif %}><a href="/frontend">前端</a></li>
                <li {% if currentCate == 'nodejs' %}class="active"{% endif %}><a href="/nodejs">Node.js</a></li>
                <!--
                <li {% if currentCate == 'algorithm' %}class="active"{% endif %}><a href="/algorithm">算法</a></li>
                <li {% if currentCate == 'rust' %}class="active"{% endif %}><a href="/rust">Rust</a></li>
                -->
                <li {% if currentCate == 'about' %}class="active"{% endif %}><a href="/about">关于</a></li>
            </ul>
            {% if user %}
            <ul class="nav navbar-nav navbar-right">
                <li><a>Hi, {{ user.username }}</a></li>
                <li><a href="/new">新文章</a></li>
            </ul>
            {% endif %}
            {#
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login">登录</a></li>
                <li><a href="/signup">注册</a></li>
            </ul>
            #}
        </div>
    </div>
</nav>

