.post-details {
    margin-bottom: 50px;
    padding: 30px 20px;
    box-shadow: 0 0 1px 0 #ccc;

    .post-title {
        text-align: center;
    }
    .post-content {
        h3, h4 {
            padding: 12px;
            margin: 20px 0;
            background: #f0f0f0;
        }
        p {
            margin: 20px 0;
            color: #333;
            font-size: 16px;
            font-weight: 100;
            line-height: 1.6em;
        }
        ul, ol {
            padding: 0 0 0 26px;
            margin: 10px 0 10px 36px;
            line-height: 1.6em;
            border-left: solid 10px #ddd;

            li {
                font-size: 15px;
            }
        }
    }
}

