{% extends 'base/base.html' %}
{% from '../modules/post-item.html' import postItem %}
{% from '../modules/pagination.html' import render_pagination %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">最新文章</div>
        {{ postItem(pagination.docs) }}
    </div>
    {{ render_pagination(pagination, '') }}
{% endblock %}

{% block side %}
<form class="sidebox">
    <div class="input-group">
        <input type="text" class="form-control" id="bdcsMain">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">搜索</button>
        </span>
    </div>
</form>
<div class="panel panel-default sidebox">
    <div class="panel-heading">友情链接</div>
    <div class="panel-body">
        <a href="http://www.w3ccafe.com/" target="_blank">前端咖啡屋</a>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
(function(){document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));var bdcs = document.createElement('script');bdcs.type = 'text/javascript';bdcs.async = true;bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=12271833022711483224' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date()/3600000);var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(bdcs, s);})();
</script>
{% endblock %}

