{% extends 'base/base.html' %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <form class="form-inline">
            <div class="form-group">
                <label>分类：</label>
                <select class="form-control" name="category">
                    {% for c in cats %}
                    <option {% if post.category and post.category.url == c.url %}selected{% endif %}
                        value="{{ c.name + ',' + c.url }}">{{ c.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label>标签：</label>
                <input class="form-control" type="text" name="tags" value="{{ post.tags or '' }}">
            </div>
            <button class="btn btn-primary addpost">发布</button>
        </form>
    </div>
    <div class="col-md-12 post-editor">
        <input type="text" class="form-control" name="title" placeholder="文章标题" value="{{ post.title or '' }}">
        <br>
        <textarea class="form-control">{{ post.content or '' }}</textarea>
    </div>
</div>
{% endblock %}

