{% extends 'base/base.html' %}
{% from '../modules/post-item.html' import postItem %}
{% from '../modules/pagination.html' import render_pagination %}

{% block body %}
    <ol class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li class="active">{{ tag }}</li>
    </ol>
    <div class="panel panel-default">
        <div class="panel-heading">“{{ tag }}”标签下的文章</div>
        {{ postItem(pagination.docs) }}
    </div>
    {{ render_pagination(pagination, '/' + tag) }}
{% endblock %}

