{% extends 'base/base.html' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4 login">
            <form action="/login" method="post">
                <div class="form-group">
                    <label>邮箱</label>
                    <input type="email" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label>密码</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-success">登录</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

