
.post-details {
    margin-bottom: 50px;
    padding: 30px 20px;
    box-shadow: 0 0 1px 0 #ccc;

    .post-title {
        text-align: center;
    }
    .post-content {
        p {
            color: #333;
            font-size: 16px;
            line-height: 1.6em;
        }
    }
}

