body {
    font-family: 'Microsoft Yahei';
}

a {
    color: #05a;
}

pre {
    padding: 0;
    margin: 10px 0;
    border: none;
    border-radius: 0;
}

.side {
    .sidebox {
        margin-bottom: 10px;
    }
}

.pagination {
    margin: 0 0 20px 0;
}

